---
const base  = import.meta.env.BASE_URL;
---

<nav>
  <a href={base}>Inicio</a>
  <div class="nav-gem"></div>

  <a href={`${base}dailyluck`}>El Oráculo</a>
  <div class="nav-gem"></div>

  <a href={`${base}about`}>Sobre el proyecto</a>
  <div class="nav-gem"></div>

  <a href="https://kickstarter.com" target="_blank" rel="noopener noreferrer">Kickstarter</a>
</nav>